@mixin styleStepLine($index) {
  .mat-horizontal-stepper-header {
    & + .mat-stepper-horizontal-line:nth-child(#{$index}) {
      height: 2px;
      background-image: linear-gradient(to right, #00b495, #00aeea);
    }
  }
}

@mixin styleEditedStepIcon($index) {
  .mat-horizontal-stepper-header:nth-child(#{$index}) {
    .mat-step-icon:not(.mat-step-icon-selected) {
      background-color: map-get($colors, 'light-green');
    }
  }
}

@mixin styleUnEditedStepIcon($index) {
  .mat-horizontal-stepper-header:nth-child(#{$index}) {
    .mat-step-icon:not(.mat-step-icon-selected) {
      background-color: #e8e8e8;
    }
  }
}

.last-edited-step-1 {
  @include styleStepLine(2);
  @include styleEditedStepIcon(1);
  @include styleUnEditedStepIcon(3);
}

.last-edited-step-2 {
  @include styleStepLine(2);
  @include styleStepLine(4);
  @include styleEditedStepIcon(1);
  @include styleEditedStepIcon(3);
}
